<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Prevent direct access to sensitive files and folders
    RewriteRule ^\.(.*)$ - [F,L]
    RewriteRule ^(app|bootstrap|config|database|Modules|resources|routes|storage|stubs|tests|vendor)/ - [F,L]

    # Rewrite all traffic into the public/ directory
    RewriteCond %{REQUEST_URI} !^/hrlms/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

